Repository pr1m8/stadium-landing: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

Add .eslintignore file to exclude build and dependency directories from linting
  .eslintignore
Due: none

Add .prettierignore file to exclude build and dependency directories from formatting
  .prettierignore
Due: none

Enhance package.json with improved linting and formatting scripts, update dependencies, and add validation command
  package.json
Due: prettier --write

Update pnpm-lock.yaml with dependency version adjustments,
  pnpm-lock.yaml
Due: none

Add pre-commit hook for linting with lint-staged using Husky
  .husky/pre-commit
Due: none

Refactor useAudioRecording hook to define return type for recordAudio function and improve type safety for activeRecordingRef.
  src/hooks/use-audio-recording.ts
Due: prettier --write, eslint --fix --max-warnings=0

Refactor hooks for improved code consistency and readability by standardizing formatting and spacing across useAutoResizeTextarea, useClickOutside, useDebounce, useFileInput, and useIsMobile.
  src/hooks/use-auto-resize-textarea.ts
  src/hooks/use-click-outside.ts
  src/hooks/use-debounce.ts
  src/hooks/use-file-input.ts
  src/hooks/use-mobile.ts
Due: prettier --write, eslint --fix --max-warnings=0

Remove ESLint configuration file (.eslintrc.json) as part of project cleanup.
  .eslintrc.json
Due: prettier --write

Update .lintstagedrc.json to include JSON formatting with Prettier and adjust linting rules for CSS, SCSS, and Markdown files.
  .lintstagedrc.json
Due: prettier --write

Add .lintstagedrc.json to .prettierignore to exclude it from formatting checks
  .prettierignore
Due: none

Add .prettierrc.json configuration file to specify JSON formatting options for Prettier.
  .prettierrc.json
Due: prettier --write

Refactor ESLint configuration to use new plugins and TypeScript support, integrating Next.js specific rules and Prettier compatibility.
  eslint.config.mjs
Due: none

Fix missing newline at end of file in next.config.mjs for consistency with coding standards.
  next.config.mjs
Due: none

Update package.json to enhance linting and formatting scripts, add new dependencies for ESLint and TypeScript support, and upgrade lint-staged version.
  package.json
Due: prettier --write

Update pnpm-workspace.yaml to standardize dependency names by changing quotes from single to double for consistency.
  pnpm-workspace.yaml
Due: none

Update pre-commit hook to run lint-staged without concurrency for improved stability during pre-commit checks.
  .husky/pre-commit
Due: none

Update workflow files to standardize quotes from single to double for consistency across markdown-lint, prettier, quality-check, security, stale, and vercel configurations.
  .github/workflows/markdown-lint.yml
  .github/workflows/prettier.yml
  .github/workflows/quality-check.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
  .github/workflows/vercel.yml
Due: none

Test commit
  .lintstagedrc.json
  test-file.txt
Due: prettier --write

Update .lintstagedrc.json to refine file patterns for Prettier, separating CSS/SCSS and JSON/Markdown formatting rules for improved clarity.
  eslint.config.mjs
Due: none

Fix React is not defined error and structure layout correctly
  .github/workflows/prettier.yml
  .github/workflows/stale.yml
  .github/workflows/vercel.yml
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/app/api/download/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/common/copy-to-clipboard.tsx
  src/components/common/download-resume-button.tsx
  src/components/external-services/github-repos.tsx
  src/components/external-services/pypi-packages.tsx
  src/components/external-services/read-the-docs.tsx
  src/components/magicui/dock.tsx
  src/components/magicui/particles.tsx
  src/components/magicui/scroll-progress.tsx
  src/components/nav/footer.tsx
  src/components/social/social-links.tsx
  src/components/theme/theme-provider.tsx
  src/components/theme/theme-switcher.tsx
  src/components/ui/aspect-ratio.tsx
  src/components/ui/card-spotlight.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/hero-highlight.tsx
  src/components/ui/markdown-renderer.tsx
  src/components/ui/sonner.tsx
  src/components/ui/text-generate-effect.tsx
  src/components/ui/vortex.tsx
  src/components/ui/wavy-background.tsx
  src/lib/design/themes.ts
  src/lib/external-services/github.ts
  src/lib/external-services/pypi.ts
  src/lib/external-services/read-the-docs.ts
  src/lib/posts.ts
  src/lib/utils.ts
  src/types/react.d.ts
Due: prettier --write, eslint --fix --max-warnings=0

Add ignore patterns and create GitHub workflow with proper permissions
  .github/workflows/nextjs-pnpm.yml
  .gitignore
  .trunignore
  src/app/globals.css
  src/app/page.tsx
  src/components/theme/theme-switcher.tsx
  src/types/react.d.ts
Due: prettier --write, eslint --fix --max-warnings=0

Upgrade husky dependency from 9.0.11 to ^8.0.0 for improved functionality and compatibility.
  package.json
Due: prettier --write

Remove .trunignore and GitHub workflow files, update pre-commit hook to run npm test instead of trunk commands for improved testing process.
  .github/workflows/nextjs-pnpm.yml
  .husky/pre-commit
  .trunignore
  pnpm-lock.yaml
Due: none

new portfolio
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  public/assets/logo.svg
  public/assets/staidium-text-logo.svg
  src/app/page.tsx
  src/app/staidium-layout.tsx
  src/components/nav/staidium-footer.tsx
  src/components/nav/staidium-nav.tsx
  src/components/theme/theme-provider.tsx
  src/components/ui/hero-highlight.tsx
  src/components/ui/pattern-card.tsx
  src/components/ui/recharts-benchmark-chart.tsx
  src/components/ui/simplified-card-spotlight.tsx
  src/components/ui/simplified-sparkles.tsx
  src/components/ui/simplified-text-generate-effect.tsx
  src/components/ui/terminal.tsx
  src/lib/design/themes.ts
  staidium-landing-page-guide.md
Due: prettier --write, eslint --fix --max-warnings=0

update
  .trunk/.gitignore
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/svgo.config.mjs
  .trunk/trunk.yaml
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/app/page-old.tsx
  src/app/page.tsx
  src/components/magicui/code-comparison.tsx
  src/components/magicui/script-copy-btn.tsx
  src/components/nav/staidium-nav.tsx
  src/components/sections/benchmarking-section.tsx
  src/components/sections/framework-comparison-section.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/stats-section.tsx
  src/components/theme/simple-theme-provider.tsx
  src/components/theme/simple-theme-switcher.tsx
  src/components/ui/button.tsx
  src/components/ui/hero-highlight.tsx
  src/components/ui/sonner.tsx
  src/components/ui/world-map.tsx
  tailwind.config.js.backup
Due: prettier --write, eslint --fix --max-warnings=0

update
  src/app/globals.css
  src/app/layout.tsx
  src/components/nav/staidium-nav.tsx
  src/components/sections/benchmarking-section.tsx
  src/components/sections/framework-comparison-section.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/stats-section.tsx
Due: prettier --write, eslint --fix --max-warnings=0

update
  src/app/page.tsx
  src/components/ui/hero-highlight.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fixed husky issue
  .husky/pre-commit
  src/components/ui/hero-highlight.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Add cache management documentation, improve cache handling in Next.js config, and update .gitignore for better cache exclusion
  .gitignore
  CACHE-MANAGEMENT.md
  next.config.mjs
  package.json
  public/assets/logo-clean.svg
  public/assets/staidium-text-logo-clean.svg
  scripts/dev-reset.sh
  src/app/api/email-signup/route.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/common/blog/blog-with-search.tsx
  src/components/common/blog/simple-blog-grid.tsx
  src/components/common/contact-form.tsx
  src/components/common/email-signup.tsx
  src/components/games/game-detail.tsx
  src/components/nav/staidium-footer.tsx
  src/components/nav/staidium-nav.tsx
  src/components/sections/game-showcase.tsx
  src/components/sections/hero-section.tsx
  src/components/sections/newsletter-section.tsx
  src/components/sections/simple-canvas.tsx
  src/components/theme/simple-theme-provider.tsx
  src/components/theme/theme-provider.tsx
  src/components/theme/theme-switcher.tsx
  src/components/ui/hero-highlight.tsx
  src/components/ui/markdown-renderer.tsx
  src/components/ui/terminal.tsx
  src/lib/data/games.ts
  website-sections-plan.md
Due: prettier --write, eslint --fix --max-warnings=0

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,json,md})
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
